@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: rgb(240, 240, 201);
    font-family: "Outfit", sans-serif;
    margin: 0 auto;
    padding: 80px;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(215, 78, 9);
    margin: 10px;
}

h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(110, 14, 10);
    margin: 10px 10px 50px 10px;
}

form {
    max-width: 500px;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px 70px 70px 70px;
    text-align: justify;
    border: solid 5px rgb(18, 78, 120);
    border-radius: 5px;
}

.fheader {
    color: rgb(110, 1, 10);
    letter-spacing: 1.2px;
}

#fname,
#lname,
textarea#instructions {
    border: solid 1px rgb(242, 187, 5);
    border-radius: 5px;
}

#fname,
#lname,
#sizes,
#crust {
    margin: 5px;
}

#button {
    background-color: rgb(242, 187, 5);
    border: none;
    border-radius: 5px;
    color: rgb(110, 14, 10);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
} /*Partially copied from W3 Schools example*/

#button:hover {
    background-color: rgb(110, 14, 10);
    color: rgb(242, 187, 5);
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
} /*Partially copied from https://coreui.io/blog/how-to-center-a-button-in-css/*/

#sampleorders {
    display: block;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: rgb(110, 14, 10);
    padding: 20px;
    text-align: center;
    text-decoration: underline rgb(18, 78, 120);
}

th {
    background-color: rgb(18, 78, 120);
    color: rgb(242, 187, 5);
}

tr:nth-child(odd) {
    background-color: rgba(215, 78, 9, .3);
}

tr:hover td {
    background-color: rgba(18, 78, 120, .8);
    color: rgb(242, 187, 5);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

div.container1 {
    margin: 0 auto;
    text-align: center;
}

#toppings {
    margin: 0 auto;
    padding: 10px 30px 0px 30px;
    width: 150px;
    text-align: left;
}

footer {
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}


